<%- model_class = TimeCard -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:arrival_time) %></th>
      <th><%= model_class.human_attribute_name(:leave_time) %></th>
      <th><%= model_class.human_attribute_name(:work_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @time_cards.each do |time_card| %>
      <tr>
        <td><%= link_to time_card.id, time_card_path(time_card) %></td>
        <td><%= time_card.user_id %></td>
        <td><%= time_card.arrival_time %></td>
        <td><%= time_card.leave_time %></td>
        <td><%= time_card.work_date %></td>
        <td><%=l time_card.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      time_card_path(time_card), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_time_card_path(time_card), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      time_card_path(time_card),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_time_card_path,
            :class => 'btn btn-primary' %>
