<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー:</strong>
  <%= @time_card.user_id %>
</p>

<p>
  <strong>出勤日:</strong>
  <%= @time_card.work_date %>
</p>

<p>
  <strong>出勤時間:</strong>
  <%= @time_card.arrival_time %>
</p>

<p>
  <strong>退社時間:</strong>
  <%= @time_card.leave_time %>
</p>

<%= link_to 'Edit', edit_time_card_path(@time_card) %> |
<%= link_to 'Back', time_cards_path %>
